body {
    margin: 0;
    padding: 0;
    font-family: math;
    overflow-x: hidden;
    background: #f8f8f8;
    color: #555;
}

.section {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
    background: #fff;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
}

.section h1,
.section h2,
.section h3 {
    margin: 10px 0;
    font-weight: bold;
}

.section-description {
    margin-left: 3em;
    margin-right: 3em;
    font-size: 1.2em;
}

.scroll-down {
    bottom: 20px;
    position: fixed;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background 0.3s ease;
}

h2 {
    font-size: 2.5em;
    color: #333;
}

.section-profile-image {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    border: 8px solid #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.section-profile-image:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}


a {
    color: #6e85b1;
    text-decoration: none;
}

a:visited {
    color: none;
}

a:hover {
    color: #0099ff;
}

a:active {
    color: #000000;
}

.section-description-image {
    max-width: 40%;
    max-height: 40%;
    border: 8px solid #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}